<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Olvidé mi Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <ion-card class="ion-padding">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Recuperar Contraseña</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-center ion-margin-bottom">
          Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
        </p>
        <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
          <ion-item lines="full" class="ion-margin-bottom">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" required email #emailCtrl="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"></ion-input>
          </ion-item>
          <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
            class="error-message ion-padding-start">
            <div *ngIf="emailCtrl.errors?.['required']">
              El correo es requerido.
            </div>
            <div *ngIf="emailCtrl.errors?.['email'] || emailCtrl.errors?.['pattern']">
              Por favor, ingresa un correo válido.
            </div>
          </div>

          <ion-button type="submit" expand="block" [disabled]="forgotPasswordForm.invalid" class="ion-margin-top">
            Enviar Enlace de Recuperación
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>