<ion-header>
  <meta name="mobile-web-app-capable" content="yes">
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home" text="VOLVER"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favoritos.length > 0; else noFavoritos">
    <ion-item *ngFor="let favorito of favoritos" (click)="getRecipeInfo(favorito.id)">
      <ion-thumbnail slot="start">
        <img [src]="favorito.image" alt="favorito.title">
      </ion-thumbnail>
      <ion-label>

        <h2>{{ favorito.title }}</h2>

        <a [href]="favorito.sourceUrl" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">
          {{ favorito.sourceUrl }}
        </a>

      </ion-label>
      <ion-button (click)="eliminarFavorito(favorito)" slot="end">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noFavoritos>
    <div class="no-favoritos">
      <p>No tienes recetas favoritas aún.</p>
    </div>
  </ng-template>
</ion-content>