// src/app/pages/forgot-password/forgot-password.page.scss
ion-content {
    --background: #f0f2f5; // Un color de fondo suave
    --ion-text-color: #101010;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    ion-card {
        width: 100%;
        max-width: 500px; // Limita el ancho en pantallas grandes
        --background: #ffffff; // Fondo blanco para la tarjeta
        border-radius: 12px;
        box-shadow: 0 4px 12px rgb(1, 1, 1);
    }

    ion-card-title {
        color: var(--ion-color-primary);
        font-size: 1.5em;
        font-weight: bold;
    }

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --background: transparent; // Hacer el fondo del item transparente
        border-radius: 8px;
        border: 1px solid #000000; // Borde sutil para el input
        margin-bottom: 16px; // Espacio entre inputs

        ion-label {
            color: #000000;
        }
    }

    ion-input {
        --padding-start: 10px; // Padding interno para el texto del input
    }

    .error-message {
        color: var(--ion-color-danger);
        font-size: 0.8em;
        margin-top: -10px; // Ajusta para que esté más cerca del input
        margin-bottom: 10px;
    }

    ion-button[type="submit"] {
        --border-radius: 8px;
        height: 48px; // Altura del botón
        font-weight: bold;
        text-transform: none; // Evita mayúsculas automáticas
    }
}

// Estilos para el header
ion-header {
    ion-toolbar {
        --background: var(--ion-color-primary); // Color primario para la barra de herramientas
        --color: var(--ion-color-primary-contrast); // Color del texto en la barra
    }

    ion-title {
        font-weight: bold;
    }

    ion-back-button {
        --color: var(--ion-color-primary-contrast); // Color del botón de retroceso
    }


}