<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-with-center-clock custom-black-toolbar">

    <ion-title class="toolbar-title-left-aligned">Búsqueda de Recetas
    </ion-title>

    <div class="digital-clock-centered" *ngIf="currentTime">
      <span class="clock-label">Hora actual: </span>{{ currentTime }}
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="signOut()" class="logout-button-style">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="profile-icon-button" fill="clear" (click)="onProfileClick()">
    <ion-icon slot="icon-only" name="person-circle-outline" aria-label="Perfil"></ion-icon>
  </ion-button>
  <div class="input-container">
    <ion-label position="start">Agregar Ingredientes:</ion-label>
    <ion-input [(ngModel)]="ingredientToAdd" placeholder="Ejemplo: zanahorias"></ion-input>
  </div>

  <div class="button-container">
    <ion-button color="primary" (click)="addIngredient()">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      Buscar Recetas
    </ion-button>
    <ion-button color="danger" (click)="limpiarResultados()">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      Limpiar Resultados
    </ion-button>
    <ion-button color="tertiary" (click)="verFavoritos()">
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      Ver Favoritos
    </ion-button>
  </div>

  <swiper-container #swiperRef slides-per-view="1" pagination="true" navigation="true"  >

    <swiper-slide *ngFor="let pagina of recetasAgrupadasPorPagina">
      <ion-list>
        <ion-item *ngFor="let recipe of pagina" class="hover-item"  (click)="getRecipeInfo(recipe.id)">
          <ion-thumbnail slot="start">
            <img [src]="recipe.image" [alt]="recipe.title">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ recipe.title }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </swiper-slide>

  </swiper-container>

  <!-- DESCOMENTAR SI SE QUIEREN ACTIVAR LOS BOTONES: -->

  <!--
    <ion-list>
      <ion-item *ngFor="let recipe of paginacionDeRecetas" class="hover-item"  (click)="getRecipeInfo(recipe.id)">
        <ion-thumbnail slot="start">
          <img [src]="recipe.image" [alt]="recipe.title">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ recipe.title }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card class="card_paginacion">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-button fill="outline" color="medium" (click)="paginaAnterior()" [disabled]="paginaActual === 1">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
          Anterior
        </ion-button>

        <ion-label class="ion-text-center">Página {{ paginaActual }} de {{ paginasTotales }}</ion-label>

        <ion-button fill="outline" color="medium" (click)="paginaSiguiente()" [disabled]="paginaActual === paginasTotales">
          Siguiente
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>

  -->

  <ion-card *ngIf="selectedRecipe">
    <ion-card-header>
      <ion-card-title>{{ selectedRecipe.title }}</ion-card-title>
      <ion-button fill="clear" (click)="toggleFavorito(selectedRecipe)" class="favorite-button-card">
        <ion-icon [color]="isFavorito(selectedRecipe) ? 'danger' : 'medium'"
          [name]="isFavorito(selectedRecipe) ? 'heart' : 'heart-outline'">
        </ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <img [src]="selectedRecipe.image" [alt]="selectedRecipe.title" />
      <p><strong>Ingredientes:</strong></p>
      <ul>
        <li *ngFor="let ingredient of selectedRecipe.extendedIngredients">{{ ingredient.original }}</li>
      </ul>
      <p><strong>Instrucciones:</strong></p>
      <div [innerHTML]="selectedRecipe.instructions"></div>
      <a [href]="selectedRecipe.sourceUrl" target="_blank" rel="noopener noreferrer">Ver receta completa</a>
    </ion-card-content>
  </ion-card>
</ion-content>