<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="receta">
  <div class="receta-container">
    <h2>{{ receta.title }}</h2>

    <div class="imagenConBotones">

      <img [src]="receta.image" [alt]="receta.title" class="receta-image" />

      <div class="botones-superiores">

        <a [href]="receta.sourceUrl" target="_blank" rel="noopener noreferrer" class="receta-link">
          Ver receta completa
        </a>

        <ion-button fill="clear" (click)="cambiarFavorito()" class="favorite-button-card">
          <ion-icon [color]="esFavorito ? 'danger' : 'medium'"
            [name]="esFavorito ? 'heart' : 'heart-outline'">
          </ion-icon>
        </ion-button>

      </div>
    </div>

    <div class="bloque-texto">
      <p><strong>Ingredientes:</strong></p>
      <ul>
        <li *ngFor="let ingredient of receta.extendedIngredients">
          {{ ingredient.original }}
        </li>
      </ul>
    </div>

    <div class="bloque-texto">
      <p><strong>Instrucciones:</strong></p>
      <div [innerHTML]="receta.instructions">></div>
    </div>

  </div>
</ion-content>
